/* Color Palette
  #A3B087 - Light Green
  #435663 - Dark Blue
  #313647 - Darker Blue
  #D9CFC7 - Light Beige
*/
* {
  background-color: #f0f3f6;
  box-sizing: border-box;
  border: none;
  padding: 0%;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav_logo {
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
  border: 10px;
}
.nav_button {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #313647;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2.5px;
  margin: auto;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: content-box;
  font-style: bold;
  letter-spacing: -3px;
}
.hero_sectioin {
  text-align: center;
  border-radius: 5px;
  border: 5px solid #313647;
  margin: 20px;
  padding-bottom: 20px;
}
.Hero_Heading {
  font-family: cursive;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  background-color: #a3b087;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 20px;
  margin: 0 10px;
  display: inline-block;
}
.hero_paragraph {
  font-family: sans-serif;
  font-size: 15px;
  max-width: 800px;
  font-weight: 400px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
  margin: 20px auto 30px;
}
.hero_list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.Hero_Button {
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  background-color: #313647;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  gap: 20px;
  margin-top: 20px;
}
.Hero_Button1 {
  font-family: "Times New Roman", Times, serif;
  color: #313647;
  font-size: 20px;
  text-align: center;
  border: 2px solid #313647; /*Trasparant Button Effect*/
  border-radius: 10px; /*Rounded Corners For Button*/
  padding: 10px 20px;
  text-decoration: none;
  gap: 20px;
  margin-top: 20px;
}
h2 {
  margin-top: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: content-box;
  margin-bottom: 10px;
  letter-spacing: -2px;
}
.middle_para {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400px;
  margin-bottom: 20px;
}
.middle {
  display: flex;
  justify-content: end;
  align-items: center;
}
.learn {
  background-color: #d9cfc7;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
.learn1 {
  background-color: #a3b087;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
.Card {
  background-color: #a3b087;
  border: 2px solid #313647;
  border-radius: 10px;
  padding: 200px;
  margin: 100px;
  text-align: center;
}
